.education-background {
  width: 100%;
  margin: auto;
  background: #fff;
}

.education-container {
  width: 1200px;
  margin: auto;
}

.education-wrapper {
  width: 100%;
  margin: auto;
  padding-bottom: 60px;
}

.education-info {
  width: 50%;
  padding-bottom: 45px;
}

.education-info-wrapper {
  width: 100%;
  margin: auto;
}

.university-info-wrapper {
  width: 100%;
  margin: auto;
  padding-left: 8px;
  line-height: 1.8em;
}

.university-info-wrapper .campus-name {
  font-weight: 600;
  font-size: 22px;
}

.campus-text {
  font-size: 18px;
  font-weight: 500;
}

.vertical-split {
  width: 7px;
  height: 85px;
  background-color: #ffa000;
}

.education-image img {
  object-fit: cover;
  width: 88%;
  --color: #ffa000; /* the border color */
  --border: 13px; /* the border thickness*/
  --offset: 40px; /* control the offset*/
  --gap: 5px; /* the gap on hover */
  --_c: var(--color) var(--border), #0000 0 calc(100% - var(--border)),
    var(--color) 0;
  --_o: calc(3 * var(--offset));
  padding: calc(var(--gap) + var(--border))
    calc(var(--gap) + var(--border) + var(--offset))
    calc(var(--gap) + var(--border) + var(--offset))
    calc(var(--gap) + var(--border));
  background: linear-gradient(var(--_c)) var(--_o) var(--_o),
    linear-gradient(90deg, var(--_c)) var(--_o) var(--_o);
  background-size: calc(100% - var(--_o)) calc(100% - var(--_o));
  background-repeat: no-repeat;
  filter: grayscale(0.4);
  transition: 0.5s;
  cursor: pointer;
}

.education-image img:hover {
  background-position: 0px 0px;
  background-size: calc(100% - var(--offset)) calc(100% - var(--offset));
  filter: grayscale(0);
}

.education-space {
  height: 30px;
}
